body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 40px;
    align-items: center;
    color: white;
    background: linear-gradient(135deg, #111827, #1e3a8a);
    font-family: "poppins", sans-serif;
    text-align: center;
}

.title {
    color: #f1f5f9;
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 2px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}


.winner h1 {
    color: #2e8b57;
    font-size: 2.5em;
}

.winner img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin: 20px 0;
}

.conseil {
    background-color: #f8d7da;
    color: #721c24;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0px auto;
}

.conseil h2 {
    margin-top: 0;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2e8b57;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #BA55D3;
}

.menu li {
    display: inline-block;
    margin-right: 15px;
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #00796b;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
}

.menu a:hover {
    background-color: #b2dfdb;
    color: #004d40;
}

/*.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

.sub-menu a {
    background: #1a1f1f;
}*/

.menu li:hover .sub-menu {
    display: block;
}

#scan-text {
    margin-bottom: 25px;
    color: #cbd5e1;
    font-size: 18px;
}

#reader {
    margin: 20px auto;
    position: relative;
    width: 420px;
    height: 420px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
    flex-direction: column;
    backdrop-filter: blur(15px);
}


video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#preview {
    width: 420px;
    height: 420px;
    border-radius: 15px;
    object-fit: cover;
    background: #000;
    overflow: hidden;

}

#result {
    /*top: 90px;*/
    width: 400px;
    height: 400px;
    border-radius: 15px;
    border: 10px solid #00796b;
    position: absolute;
    align-items: center;
    pointer-events: none;
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px #4eff77;
    }

    to {
        box-shadow: 0 0 25px #4eff77;
    }
}

#laser {
    position: absolute;
    top: 95px;
    width: 400px;
    height: 3px;
    background: rgba(255, 65, 65, 0.9);
    border-radius: 2px;
    animation: laser-move 2s linear infinite;
}

@keyframes laser-move {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(257px);
    }
}

#manual-input {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#manual-input input {
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid #4caf50;
    font-size: 1.5em;
    outline: none;
    width: 300px;
    transition: 0.3s;
}

#manual-input input:focus {
    border-color: #1b7e35;
    box-shadow: 0 0 10px rgba(27, 126, 53, 0.5);
}

#manual-input button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: #4caf50;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.3s;
}

#manual-input button:hover {
    background: #1b7e35;
}

.tooltip {

    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #2E8B57;
    font-weight: bold;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}