
@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    #091839 0%,
    #ea01d9 20%,
    #143d7b 40%,
    #23b8c1 70%,
    #ea01d9 100%
  );
  background-attachment: fixed;
  font-family: "poppins", sans-serif;
}

@keyframes scan-laser {
  0% { top: 0%; }
  50% { top: 90%; }
  100% { top: 0%; }
}

.scan-laser {
  animation: scan-laser 5s infinite linear;
}