
@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    #121212 0%,       /* noir profond */
    #1a1a1a 15%,      /* gris foncé */
    #332233 30%,      /* très léger rose foncé */
    #662244 45%,      /* rose foncé */
    #1a1a1a 60%,      /* gris foncé */
    #332233 75%,      /* léger rose foncé */
    #121212 100%      /* noir profond */
  );
  background-attachment: fixed;
  font-family: "poppins", sans-serif;
}

@keyframes scan-laser {
  0% { top: 0%; }
  50% { top: 90%; }
  100% { top: 0%; }
}

.scan-laser {
  animation: scan-laser 5s infinite linear;
}